*{
  margin: 0;
  padding: 0;
}

.contentimg{
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: rgb(233 231 232);
}

.error404{
  position: absolute;
  width: 100%;
  height: 100vh;
  background-image: url('../Imagenes/404 error.JPG');
  background-position: center; 
  box-sizing: border-box;
  background-repeat: no-repeat;
}