{% extends 'partials/body.html' %}
{% load static %}


{% block contenido %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div class="main-principal"></div>
<div class="container">
    <div class="row justify-content-center">
        <div class="contentupdate">
            <form method="POST" class="form">
                <h1>Editar empleado</h1>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="text" hidden name="id" value="">
                        <label for="nombre">Documento del usuario</label>
                        <p class="border p-1 form-control " readonly></p>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="id_estadoemp">Estado</label>
                        <select required name="id_estadoemp" id="id_estadoemp" class='form-control'>
                                <option value=""></option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="nombre">Nombre</label>
                        <input type="text" value='' required name="nombre" id="nombre" placeholder="Nombre" class="form-control" minlenght="10" maxlength="20">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="direccion">Dirección</label>
                        <input value="" required name="direccion" type="text" id="direccion" placeholder="Direccion" class="form-control" minlenght="10" maxlength="150">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="telefono">Teléfono</label>
                        <input value="" required name="telefono" type="text" id="telefono" placeholder="Telefono" class="form-control" minlenght="10" maxlength="20">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="id_compania">Ciudad</label>
                        <select required name="id_compania" id="id_compania" class='form-control'>
                                <option value=""></option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="cargo">Cargo</label>
                        <select required name="id_cargo" id="cargo" class='form-control'>
                                <option value=""></option>
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" name="guardar">Guardar</button>
                <a href="{% url 'usuario' %}" class="btn btn-dark volver">Volver</a>
            </form>
        </div>
    </div>
</div>
<div class='footer-solo'>
    <h1> SIDICI. todos los derechos reservados @Amovil &#169 2016 - 2022 </h1>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>

</html>

{% endblock contenido %}
