{% extends 'partials/body.html' %}
{% load static %}

{% block contenido %}
<div class='main-principal'></div>
<div class="subcontent">
    <nav class="containernav-informes">
        <h1>Informes</h1>
        <a class='botoncolor position-absolute' type="submit" href='..//excel/excelHistorial.php' target="_blank"><i class="bi bi-file-arrow-down"></i> Descargar historial</a>
    </nav>
    <main class="containermain-informes">
        <div class="content-indicador">
            <div class="container">
                <h3>Activos</h3>
                <a href="{% url 'activo' %}" target="_blank">
                    <div>
                        <canvas id="indicador-activos"></canvas>
                    </div>
                </a>
            </div>
        </div>
        <div class="content-indicador">
            <div class="container">
                <h3>Cargos</h3>
                <a href="{% url 'usuario' %}" target="_blank">
                    <div>
                        <canvas id="indicador-usuarios"></canvas>
                    </div>
                </a>
            </div>
        </div>
        <div class="content-indicador">
            <div class="container">
                <h3>Novedades</h3>
                <a href="{% url 'novedad' %}" target="_blank">
                    <div>
                        <canvas id="indicador-novedades"></canvas>
                    </div>
                </a>
            </div>
        </div>
    </main>
</div>
{% endblock contenido %}

{% block javascript %}

<!-- boststrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<!-- libreria chart.js-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>

<script>
const ctx = document.getElementById('indicador-activos').getContext('2d');
const myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Nuevos','Usados', 'Reparados', 'Otros'],
        datasets: [{
            label: 'Numero de registros',
            data: {{ labels_stock|safe }},
            backgroundColor: [
                'rgba(37, 85, 175, 1)',
                'rgba(0, 109, 255, 0.58)',
                'rgba(140, 140, 140, 1)',
                'rgba(232, 19, 19, 0.68)',
                
            ],
            borderColor: [
                'rgba(37, 85, 175, 1)',
                'rgba(0, 109, 255, 0.58)',
                'rgba(140, 140, 140, 1)',
                'rgba(232, 19, 19, 0.68)',          
            ],
            borderWidth: 1
        }]
    },
    respontive: 'true',
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});

// indicadores usuarios

const ctx1 = document.getElementById('indicador-usuarios').getContext('2d');
const myChart1 = new Chart(ctx1, {
    type: 'bar',
    data: {
        labels: ['Empleados', 'Admins'],
        datasets: [{
            label: '# of Votes',
            data: {{ roles|safe }},
            backgroundColor: [
                'rgba(0, 109, 255, 0.58)',
                'rgba(37, 85, 175, 1)',
            ],
            borderColor: [
                'rgba(0, 109, 255, 0.58)',
                'rgba(37, 85, 175, 1)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});

// indicadores reparaciones
const ctx2 = document.getElementById('indicador-novedades').getContext('2d');
const myChar2 = new Chart(ctx2, {
    type: 'bar',
    data: {
        labels: ['Pendientes', 'Resueltos'],
        datasets: [{
            label: '# of Votes',
            data: {{ estado|safe }},
            backgroundColor: [
                'rgba(37, 85, 175, 1)',
                'rgba(0, 109, 255, 0.58)',

            ],
            borderColor: [
                'rgba(37, 85, 175, 1)',
                'rgba(0, 109, 255, 0.58)',

            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});

</script>

{% endblock javascript %}

{% block footer %}

    <link rel="stylesheet" href="{% static 'css\estilos.css' %}">
    <footer class="container-footer">
        <div>
            <h1> SIDICI. todos los derechos reservados @Amovil &#169 2016 - 2022 </h1>
        </div>
    </footer>
    <!-- boststrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

{% endblock footer %}
    