{% extends 'partials/body_login.html' %}
{% load static %}


{% block bloque %}
  
  <div class='restablcont'>
    <div class="imgamovil">
      <img src="{% static '/img/amovil123.png' %}" alt="imgamovil">
    </div>
    <form action="" method='POST'>
          <div class='textemail'>
            <label for="email">Ingrese su correo electrónico, un enlace para reestablecer su contraseña va a ser enviado a su correo.</label>
          </div>
          <div class="contenedor">
            {% csrf_token %}
              <div class="">  
              {{form.email}}
              </div>
          </div>
          <input type="submit" value="Recuperar Contraseña" class='posbutrec' name='recuperar' />
          <h3 id="optionreturn">--¿Desea regresar al inicio del aplicativo?--</h3>
          <div class='regresar'>
          <a href="{% url 'inicio' %}" id='posbutreg'>Regresar</a>
        </div>
      </div>
    </form>
  </div>
</body>

</html>

{% endblock bloque %}

