{% extends 'partials/body.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block contenido %}

<div class='main-principal'></div>
<div class="subcontent">
    <nav class="containernav-activos">
        <h1>Activos</h1>
        <div class='opcionesnav-activos'>
            <!-- boton modal -->
            <button type="button" class="botoncolor" data-bs-toggle="modal" data-bs-target="#staticBackdrop1">
                Asignar activo
            </button>
            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content modal_asignar">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Asignar activo</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="" method="POST">
                                {{asignar|crispy}}
                                {% csrf_token %}
                                <label for="activo">Activo</label>
                                <select name='id' class='select form-select mb-lg-3 mb-3'id="activo">
                                    <option value="" selected="">---------</option>
                                    {% for activo in activos %}
                                    <option value="{{activo.idactivo}}">{{activo.idactivo}} {{activo.tipo}} {{activo.marca}}</option>
                                    {% endfor %}
                                </select>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                    <button type="submit" class="btn btn-primary">Guardar</button>
                                </div>
                             </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Button trigger modal registrar activos -->
            <button type="button" class="botoncolor" data-bs-toggle="modal" data-bs-target="#registro-activos">
                Registrar activos
            </button>

            <!-- Modal -->
            <div class="modal fade" id="registro-activos" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content modalregistro-activos">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Registrar activos</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="" method="POST">
                                {{form|crispy}}
                                {% csrf_token %}
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                    <button type="submit" name="crearform" class="btn btn-primary">Guardar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <main class="container-main">
        <!-- Tabla activos -->
        <div class="tables-sidici container-fluid">
            <table id="tableactivos" class="table table-striped table-sm">
                <thead>
                    <tr class='textwhite'>
                        <th>ID</th>
                        <th>ESTADO</th>
                        <th>RESPONSABLE</th>
                        <th>TIPO</th>
                        <th>MARCA</th>
                        <th>FECHA</th>
                        <th>SERIAL</th>
                        <th>OPCIONES</th>
                    </tr>
                </thead>
                <tbody class='textwhite'></tbody>    
            </table>
        </div>
    </main>
</div>

{% endblock contenido %}

{% block footer %}

    <link rel="stylesheet" href="{% static 'css\estilos.css' %}">
    <footer class="container-footer">
        <div>
            <h1> SIDICI. todos los derechos reservados @Amovil &#169 2016 - 2022 </h1>
        </div>
    </footer>
    <!-- boststrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

{% endblock footer %}

{% block javascript %}
    
<!-- DataTables  & Plugins -->
<script src="{% static 'datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'jszip/jszip.min.js' %}"></script>
<script src="{% static 'pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'datatables-buttons/js/buttons.colVis.min.js' %}"></script>

<script type="text/javascript">

    const link = "{% url 'editaractivos' %}";
    var CSRF_TOKEN = '{{ csrf_token }}';

        $(document).ready(function() {
            $('#tableactivos').DataTable({
                dom: 'Bfrtip',
                responsive: true,
                scrollCollapse: false,
                ordering: false,
                info: false,
                processing: true,
                serverSide: true,
                pageLength: 10,
                buttons: ["copy", "csv", "excel", "pdf", "print"],
                ajax: {
                    url: "{% url 'datosactivos' %}",
                    dataSrc: "datos",
                    type: 'GET',
                },
                columns: [
                    {data: 'idactivo'},
                    {data: 'situacion'},
                    {data: 'empleado'},
                    {data: 'tipo'},
                    {data: 'marca'},
                    {data: 'fecha'},
                    // {data: 'observaciones'},
                    // {data: 'situacion'},
                    {data: 'serial'},
                    {
                        data: 'idactivo',
                        render: function (data, type, row) {
                        return `<form action='${link}' method='GET'>
                                  <input type='hidden' name='csrfmiddlewaretoken' value='${CSRF_TOKEN}'></input>
                                  <button type='submit' name='id' value='${data}' class="btn btn-primary btn-sm">Editar</button>
                               </form>`;
                        },
                    }
                ],
                
                "language": {
                    "decimal": "",
                    "emptyTable": "No hay registros",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            }).buttons().container().appendTo('#tableactivos_wrapper .col-md-6:eq(0)');
        });
    
</script>

{% endblock javascript %}



    